* {
  font-family: "Poiret one", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}
html {
  background-color: #1a1a1d;
}
h1 {
  font-family: "Poiret one", sans-serif;
  font-size: 6em;
  padding-bottom: 10px;
}
h3 {
  padding-top: 0.2em;
  font-size: 2em;
}
button{
  margin-top: 10px;
  position: relative;
  padding: 10px 40px;
  float: center;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  background-color: #2ecc71;
  border-bottom: 5px solid #27ae60;
  -webkit-transition: all 0.1s;  
  transition: all 0.1s;
}
button:hover, button:active{
  -webkit-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
  border-bottom: 1px solid #2ecc71;
}
button#red{
  background-color: #bc4949;
  border-bottom: 5px solid #a94141
}
button#red:hover, button:active{
  border-bottom: 1px solid #bc4949;
}
button#green{
  background-color: #5bbc49;
}
button#green{
  background-color: #5bbc49;
  border-bottom: 5px solid #27ae60
}
button#green:hover, button:active{
  border-bottom: 1px solid #5bbc49;
}
button#blue{
  background-color: #49acbc;
}
button#blue{
  background-color: #49acbc;
  border-bottom: 5px solid #419aa9;
}
button#blue:hover, button:active{
  border-bottom: 1px solid #49acbc;
}
button#purple{
  background-color: #aa49bc;
}
button#purple{
  background-color: #aa49bc;
  border-bottom: 5px solid #9941a9;
}
button#purple:hover, button:active{
  border-bottom: 1px solid #aa49bc;
}
button#sand{
  background-color: #bc8a49;
}
button#sand{
  background-color: #bc8a49;
  border-bottom: 5px solid #a97c41;
}
button#sand:hover, button:active{
  border-bottom: 1px solid #bc8a49;
}
#grid {
  margin: 0 auto;
  align-content: center;
  max-width: 820px;
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#grid img {
  margin: 0.1em;
  height: 200px;
  border-radius: 5px;
  background-color: #bc4949;
}
button {
  color: #1a1a1d;
}
@media (max-width: 820px) {
  h1 {
    font-size: 4em;
  }
  #grid {
    width: 420px;
    height: min-content;
  }
  #grid img {
    height: 100px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 3em;
  }
  #grid {
    width: 340px;
    height: min-content;
  }
  #grid img {
    height: 80px;
  }
}
